.inner__wrapper {
  background-image: url("../images/plan/herom.png");
}
.work {
  padding: 80px 0 79px;
  border-radius: 10px;
  background-color: #2c343e;
}
.work__list {
  margin-bottom: 0;
}
.work__subtitle {
  color: #fff;
}
.work__text {
  color: #fff;
  opacity: 0.6;
}
@media only screen and (min-width: 550px) {
  .inner__wrapper {
    background-image: url("../images/plan/herot.png");
  }
}
@media only screen and (min-width: 600px) {
  .work {
    padding: 176px 0 97px;
  }
  .work__list::before {
    background-image: url("../images/plan/line.svg");
  }
}
@media only screen and (min-width: 850px) {
  .work {
    padding: 176px 0 99px;
  }
  .work__list::before {
    background-image: url("../images/plan/lined.svg");
  }
}
@media only screen and (min-width: 1024px) {
  .inner__wrapper {
    background-image: url("../images/plan/herod.png");
  }
  .work {
    padding: 0 0 168px;
  }
}
@media only screen and (min-width: 1082px) {
  .work {
    background-color: #fff;
    border-radius: 0;
  }
  .work__wrapper {
    border-radius: 10px;
    background-color: #2c343e;
    padding: 198px 150px 99px 85px;
    margin: 0;
    max-width: 1280px;
  }
  .work__items {
    width: 285px;
  }
}
